*{
    margin: 0px;
    padding: 0px;
}
.menu-father{
    background-color: rgb(32, 32, 32);
    padding: 25px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.type{
    margin-right: 20px;
    padding: 20px;
    font-size: 10px;
}
.type:hover
{
    color: chocolate;
    cursor: pointer;
}
.banner-img1{
    width: 400px;
}
.sec-father{
    display: flex;
    justify-content: space-around;
    background-image: url("./background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(46, 45, 45));
    /*border: 2px solid grey;*/
    height: 100vh;
    align-items: center;
}
.sec-text{
    color: white;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.btn{
    padding: 10px 20px;
    background-color: darkmagenta;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    color: black;
    cursor: pointer;
}
.about-father{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.about-title{
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
}
.about-info{
    text-align: end;
}
.service-box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px grey;
    height: 350px;
    width: ;
    background-color: black;
    color: white;
    text-align: center;
}
.sicon{
width: 70px;
}
.box-btn{
    background-color: grey;
    margin-top: 10px;
}
.box-tit{
    padding: 10px;
}
.box-des{
    padding: 5px;
}
.service-father{
    display: flex;
    justify-content: space-around;
    background-color: rgb(18, 11, 11);
}
.foot-father{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;

}